Django>=4.2
djangorestframework
djangorestframework-simplejwt
django-cors-headers
geopy
psycopg2-binary
django-filter
Pillow
python-decouple
gunicorn
whitenoise
quickaid_update
opencage
my-website
django
corsheaders
